/* .App {
    width: 50%;
    height: 50%;        
} */

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 50px;
}

.rc-button {
    padding: 20px 80px 20px 80px;
}