.App {
    display: inline;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 100%;
}

.title h1 {
    color: #122638;
    font-size: 30px;
    text-align: justify;
}

.title p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.game {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.matrix {
    font-size: 100%;
    border: solid 3px;
    border-color: #4B6987;
    background-color: #FAE9E1;
    border-radius: 25px;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table h2 {
    font-size: 50px;
    color: #122638;
    text-align: center;
}

.table tbody {
    display: flex;
    flex-direction: column;
}

.table table td {
    font-size: 35px;
    font-weight: bold;
    color: #122638;
}

@media only screen and (max-width: 1470px) {
    .game {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .matrix {
        margin-top: 50px;
        padding: 3% 10% 3% 10%;
    }
    .title h1 {
        font-size: 250%;
    }
    .title p {
        font-size: 200%;
    }
}

@media only screen and (max-width: 2200px) {
    .matrix {
        padding: 1% 5% 1% 5%;
    }
    .table table td {
        padding: 16px;
        font-size: 12px;
    }
    .table h2 {
        font-size: 20px;
    }
    .title h1 {
        font-size: 200%;
    }
    .title p {
        font-size: 125%;
    }
}

@media only screen and (min-width: 2200px) {
    .matrix {
        font-size: 250%;
        padding: 1% 10% 1% 10%;
    }
    .table table td {
        font-size: 80%;
        padding: 30px;
    }
}

@media only screen and (min-width: 6000px) {
    .matrix {
        font-size: 600%;
    }
}