@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    /* display: flex; */
    padding: 30px;
    margin-top: -20px;
    margin-bottom: 0.7%;
    background: rgb(90,128,163);
    background: linear-gradient(0deg, rgba(90,128,163,1) 34%, rgba(124,160,193,1) 69%);
    font-family:'Montserrat', sans-serif;
}